* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* common design */
.btn {
  color: #fff;
  background-color: #dd0000;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}
.container {
  max-width: 1240px;
  margin: auto;
}
/* banner section styling */
.banner {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 50px auto;
}
.banner-content {
  margin-left: 2rem;
}
.banner-content h2 {
  font-size: 4.2rem;
  font-weight: bold;
  line-height: 1.2;
}
.banner-content p {
  color: #fff;
  margin-top: 25px;
  margin-bottom: 30px;
  max-width: 65%;
}
.banner-image img {
  display: block;
}

/* upcoming Match container style */
.upcoming-match {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex: 1;
}
.upcoming-match-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 10px;
  height: fit-content;
  background-color: #161616;
  width: 25%;
}
.upcoming-match-left .btn:nth-child(1),
.upcoming-match-left .btn:nth-child(2) {
  background-color: #fff;
  color: #161616;
}

.upcoming-match-right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.upcoming-match-right .card {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.card-details {
  padding: 20px;
}

.upcoming-match-right .card img {
  height: 180px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-size: cover;
}
.upcoming-match-right .card .btn {
  background-color: #fff;
  color: #161616;
  border: 1px solid #161616;
  padding: 8px 15px;
}
.upcoming-match-right .card h2 {
  margin: 15px 0;
  font-size: 1.125rem;
}
.card-btn {
  display: flex;
  color: #707070;
  gap: 40px;
  margin-top: 10px;
}
